/*=====================================
YOU CAN WRIGHT CUSTOME CSS
======================================*/

.btn-fx6 {margin: 0 15px; animation: button6 1s ease infinite;}
.btn-fx6:hover, .btn-fx2:focus {animation: hoverfx 1s ease 1;color:#FFF;}
@keyframes button6 {
    0% {-moz-transform: scale(1) rotate(-10deg) translateX(-10px) translateY(0px) skewX(0deg) skewY(0deg); -webkit-transform: scale(1) rotate(-10deg) translateX(-10px) translateY(0px) skewX(0deg) skewY(0deg); -o-transform: scale(1) rotate(-10deg) translateX(-10px) translateY(0px) skewX(0deg) skewY(0deg); -ms-transform: scale(1) rotate(-10deg) translateX(-10px) translateY(0px) skewX(0deg) skewY(0deg); transform: scale(1) rotate(-10deg) translateX(-10px) translateY(0px) skewX(0deg) skewY(0deg);}
    50% {-moz-transform: scale(1) rotate(10deg) translateX(10px) translateY(0px) skewX(0deg) skewY(0deg); -webkit-transform: scale(1) rotate(10deg) translateX(10px) translateY(0px) skewX(0deg) skewY(0deg); -o-transform: scale(1) rotate(10deg) translateX(10px) translateY(0px) skewX(0deg) skewY(0deg); -ms-transform: scale(1) rotate(10deg) translateX(10px) translateY(0px) skewX(0deg) skewY(0deg); transform: scale(1) rotate(10deg) translateX(10px) translateY(0px) skewX(0deg) skewY(0deg);}
    100% {-moz-transform: scale(1) rotate(-10deg) translateX(-10px) translateY(0px) skewX(0deg) skewY(0deg); -webkit-transform: scale(1) rotate(-10deg) translateX(-10px) translateY(0px) skewX(0deg) skewY(0deg); -o-transform: scale(1) rotate(-10deg) translateX(-10px) translateY(0px) skewX(0deg) skewY(0deg); -ms-transform: scale(1) rotate(-10deg) translateX(-10px) translateY(0px) skewX(0deg) skewY(0deg); transform: scale(1) rotate(-10deg) translateX(-10px) translateY(0px) skewX(0deg) skewY(0deg);}
}
.btn-fx6 {
  position:fixed;
	width:60px;
	height:60px;
	bottom:60px;
	right:5px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  font-size:40px;
	box-shadow: 2px 2px 3px #999;
  z-index:100;
}
@media only screen and (max-width:480px) {
.btn-fx6 {
  width:40px;
	height:40px;
  font-size:27px;
	bottom:60px;
}
}
